<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makentoshe.mathworks">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestBossActivity"></activity>
        <activity android:name=".ActFailure" />
        <activity android:name=".MenuSetup" />
        <activity android:name=".MenuInfo" />
        <activity android:name=".MenuHidden" />
        <activity android:name=".ZoneInteger.IntegerAct1Activity" />
        <activity android:name=".ZoneInteger.IntegerAct2Activity" />
        <activity android:name=".ZoneInteger.IntegerAct3Activity" />
        <activity android:name=".ZoneInteger.IntegerAct4Activity" />
        <activity android:name=".ZoneInteger.IntegerBossActivity" />
        <activity android:name=".ZoneModulo.ModuloAct1Activity" />
        <activity android:name=".ZoneModulo.ModuloAct2Activity" />
        <activity android:name=".ZoneModulo.ModuloAct3Activity" />
        <activity android:name=".ZoneModulo.ModuloAct4Activity" />
        <activity android:name=".ZoneModulo.ModuloBossActivity" />
        <activity android:name=".ZoneCombine.CombineAct1Activity" />
        <activity android:name=".ZoneCombine.CombineAct2Activity" />
        <activity android:name=".ZoneCombine.CombineAct3Activity" />
        <activity android:name=".ZoneCombine.CombineAct4Activity" />
        <activity android:name=".ZoneCombine.CombineBossActivity" />
        <activity android:name=".ZoneStats.StatsAct1Activity" />
        <activity android:name=".ZoneStats.StatsAct2Activity" />
        <activity android:name=".ZoneStats.StatsAct3Activity" />
        <activity android:name=".ZoneStats.StatsAct4Activity" />
        <activity android:name=".ZoneStats.StatsAct5Activity" />
        <activity android:name=".ZoneStats.StatsBossActivity" />
        <activity android:name=".ZoneFloat.FloatAct1Activity" />
        <activity android:name=".ZoneFloat.FloatAct2Activity" />
        <activity android:name=".ZoneFloat.FloatAct3Activity" />
        <activity android:name=".ZoneFloat.FloatAct4Activity" />
        <activity android:name=".ZoneFloat.FloatAct5Activity" />
        <activity android:name=".ZoneFloat.FloatAct6Activity" />
        <activity android:name=".ZoneFloat.FloatAct7Activity" />
        <activity android:name=".ZoneFloat.FloatBossActivity" />
        <activity android:name=".ZoneFunction.FunctionAct1Activity" />
        <activity android:name=".ZoneFunction.FunctionAct2Activity" />
        <activity android:name=".ZoneFunction.FunctionAct3Activity" />
        <activity android:name=".ZoneFunction.FunctionAct4Activity" />
        <activity android:name=".ZoneFunction.FunctionAct5Activity" />
        <activity android:name=".ZoneFunction.FunctionAct6Activity" />
        <activity android:name=".ZoneFunction.FunctionAct7Activity" />
        <activity android:name=".ZoneFunction.FunctionBossActivity" />
        <activity android:name=".ZoneTriangle.TriangleAct1Activity" />
        <activity android:name=".ZoneTriangle.TriangleAct2Activity" />
        <activity android:name=".ZoneTriangle.TriangleAct3Activity" />
        <activity android:name=".ZoneTriangle.TriangleAct4Activity" />
        <activity android:name=".ZoneTriangle.TriangleAct5Activity" />
        <activity android:name=".ZoneTriangle.TriangleBossActivity" />
        <activity android:name=".ZonePlain.PlainAct1Activity" />
        <activity android:name=".ZonePlain.PlainAct2Activity" />
        <activity android:name=".ZonePlain.PlainAct3Activity" />
        <activity android:name=".ZonePlain.PlainAct4Activity" />
        <activity android:name=".ZonePlain.PlainAct5Activity" />
        <activity android:name=".ZonePlain.PlainAct6Activity" />
        <activity android:name=".ZonePlain.PlainAct7Activity" />
        <activity android:name=".ZonePlain.PlainBossActivity" />
        <activity android:name=".ZoneStereo.StereoAct1Activity" />
        <activity android:name=".ZoneStereo.StereoAct2Activity" />
        <activity android:name=".ZoneStereo.StereoAct3Activity" />
        <activity android:name=".ZoneStereo.StereoAct4Activity" />
        <activity android:name=".ZoneStereo.StereoBossActivity" />
        <activity android:name=".ZoneDeriv.DerivAct1Activity" />
        <activity android:name=".ZoneDeriv.DerivAct2Activity" />
        <activity android:name=".ZoneDeriv.DerivAct3Activity" />
        <activity android:name=".ZoneDeriv.DerivAct4Activity" />
        <activity android:name=".ZoneDeriv.DerivAct5Activity" />
        <activity android:name=".ZoneDeriv.DerivBossActivity" />
        <activity android:name=".ZoneComplex.ComplexAct1Activity" />
        <activity android:name=".ZoneComplex.ComplexAct2Activity" />
        <activity android:name=".ZoneComplex.ComplexAct3Activity" />
        <activity android:name=".ZoneComplex.ComplexBossActivity" />
        <activity android:name=".MenuTitle" />
        <activity android:name=".MenuActSelect" />
        <activity android:name=".MenuZoneSelect" />
        <activity android:name=".ActResult" />
        <activity android:name=".ActResultTest" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".StartReceiver"
            android:enabled="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service android:name=".EndlessService" />
    </application>

</manifest>